<div>
  <!--<input-file file-changed="upload(text)"></input-file>-->
  <!--<a class="btn btn-primary" (click)="download()" ng-href="{{savedFile}}"-->
     <!--download="file.lus">Download</a>-->
  <!--<a class="btn btn-primary" (click)="saveJob(null)">New Save</a>-->
  <!--<a class="btn btn-primary" (click)="saveJob(jobId)">Save code</a>-->
  <!--<a class="btn btn-primary" (click)="run()">{{ !waitingCheck ? 'Run ': 'Cancel'}} </a>-->
  <!--<a class="btn btn-primary" (click)="toggleTheme()">-->
    <!--<img src="{{isDarkTheme? 'icons/bright.png' : 'icons/dark.png'}}" width="20" height="20">-->
  <!--</a>-->
</div>
